<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件夹列表内容</title>
</head>
<body>
    <!-- 模板 -->
    <h2>文件列表</h2>
    <ul>
        <!-- 
        127.0.0.1:9000/       css    =>  /css
        127.0.0.1:9000/       index.html  =>  /index.html

        127.0.0.1:9000/css    app.css     =>  /css/app.css
         -->
        <% for(let i=0;i<data.length;i++){%>
        <li><a href="<%=pathname%><%= pathname==='/' ? '' : '/' %><%=data[i]%>"><%= data[i] %></a></li>
        <% } %>
    </ul>
</body>
</html>